*-debug.log
*-error.log
/.nyc_output
dist
lib
/tmp
/yarn.lock
node_modules

.idea/
!.idea/

*.js.map
*.js
oclif.manifest.json
.npmrc
package-lock.json
.idea/*
.pre-commit-config.yaml
*.tar.gz

coverage/
